.mainContacto .contactoFormulario fieldset .contactoComentario .botonEnviar, .mainProducto section div button {
  font-family: 'Questrial', sans-serif;
  font-size: 2rem;
  color: #EBEBEB;
  background-color: #F96565;
  border: 2px solid #FFFFFF;
  border-radius: 10px;
  padding: 10px;
  width: 100%; }

* {
  margin: 0;
  padding: 0px;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

.carousel-inner {
  width: 50%;
  margin: 0 auto; }

.carousel-indicators [data-bs-target] {
  width: 10px;
  height: 10px;
  border-radius: 100%; }

.carousel-control-next-icon, .carousel-control-prev-icon {
  background-color: #F96565; }

header div a img {
  width: 120px; }

header .navbar-collapse {
  justify-content: flex-end;
  padding-right: 20px; }

header .nav-link {
  font-size: 3rem;
  color: #F96565;
  padding: 10px; }

.hero {
  display: flex;
  justify-content: center;
  align-items: none;
  flex-direction: none;
  padding: 20px 0px 20px;
  background-color: #F96565; }
  .hero h1 {
    color: #EBEBEB;
    font-size: 3.5rem; }
    .hero h1:hover {
      transform: scale(1.4); }

.mainIndex h2 {
  text-align: center;
  padding: 10px;
  color: #F96565;
  font-size: 2.5rem; }

.productosPerso {
  padding: 20px 20px 0px 20px; }

.personalizados {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: none;
  padding: none; }
  .personalizados div {
    display: flex;
    justify-content: none;
    align-items: none;
    flex-direction: column;
    padding: none; }
    .personalizados div img {
      width: 400px;
      height: 400px;
      margin: 10px; }
    .personalizados div h3 {
      font-size: 1.5rem;
      padding: 5px; }
    .personalizados div button {
      width: 100px;
      font-size: 1.5rem;
      font-weight: 600;
      padding: 5px;
      border: #FFFFFF;
      border-radius: 10px;
      color: #5A83EE;
      background-color: #EBEBEB; }

.personalizar {
  margin-top: 10px;
  padding: 10px 20px 0px 20px;
  text-align: center;
  background-color: #EBEBEB; }
  .personalizar p {
    font-size: 2rem; }
  .personalizar a {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: none;
    padding: 10px;
    text-decoration: none;
    color: #5A83EE;
    font-weight: 600;
    font-size: 2.5rem; }
    .personalizar a:hover {
      transform: scale(1.4); }

.galeria h2 {
  font-size: 2.5rem; }

.galeria p {
  color: #000000;
  padding: 10px; }

.galeriaFotos {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  gap: 10px;
  margin: 5px; }
  .galeriaFotos div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: none; }
    .galeriaFotos div img {
      height: 200px; }
    .galeriaFotos div a {
      text-decoration: none;
      color: #5A83EE; }

.mainProductos div h1 {
  color: #EBEBEB;
  background-color: #F96565;
  text-align: center;
  font-size: 2.5rem;
  padding: 10px; }

.productos {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  gap: 10px;
  margin: 5px; }
  .productos div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: none; }
    .productos div img {
      height: 200px; }
    .productos div p {
      font-size: 2rem;
      padding: 3px;
      color: #FFFFFF;
      background-color: #5A83EE;
      border-radius: 5px; }

.mainContacto {
  display: flex;
  flex-direction: column; }
  .mainContacto h1 {
    color: #EBEBEB;
    background-color: #F96565;
    text-align: center;
    font-size: 2.5rem;
    padding: 10px; }
  .mainContacto .contactoFormulario {
    padding: 20px; }
    .mainContacto .contactoFormulario fieldset {
      padding: 20px;
      border: 2px solid #F96565;
      border-radius: 5px; }
      .mainContacto .contactoFormulario fieldset .contactoDatos {
        display: flex;
        justify-content: none;
        align-items: none;
        flex-direction: column;
        padding: 10px;
        font-size: 2.5rem; }
        .mainContacto .contactoFormulario fieldset .contactoDatos label {
          font-size: 2rem; }
        .mainContacto .contactoFormulario fieldset .contactoDatos input {
          height: 30px; }
        .mainContacto .contactoFormulario fieldset .contactoDatos div {
          font-size: 2rem; }
        .mainContacto .contactoFormulario fieldset .contactoDatos select {
          font-size: 2rem; }
      .mainContacto .contactoFormulario fieldset .contactoComentario {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: none;
        font-size: 2rem; }
        .mainContacto .contactoFormulario fieldset .contactoComentario h3 {
          font-size: 2rem; }
        .mainContacto .contactoFormulario fieldset .contactoComentario .botonLimpiar {
          font-family: 'Questrial', sans-serif;
          font-size: 2rem;
          color: #F96565;
          background-color: #EBEBEB;
          border: 2px solid #FFFFFF;
          border-radius: 10px;
          padding: 10px;
          width: 100%; }

.mainPersonalizar h1 {
  color: #EBEBEB;
  background-color: #F96565;
  text-align: center;
  font-size: 2.5rem;
  padding: 10px; }

.mainPersonalizar section {
  display: flex;
  justify-content: center;
  align-items: none;
  flex-direction: column;
  padding: 20px; }
  .mainPersonalizar section div h2 {
    font-size: 2.5rem;
    color: #F96565;
    padding: 10px 5px 10px 5px; }
  .mainPersonalizar section div h3 {
    justify-content: center;
    font-size: 2rem;
    color: #5A83EE; }
    .mainPersonalizar section div h3 a {
      text-decoration: none; }
  .mainPersonalizar section div p {
    text-align: justify;
    font-size: 2rem; }

.mainProducto h1 {
  color: #EBEBEB;
  background-color: #F96565;
  text-align: center;
  font-size: 2.5rem;
  padding: 10px; }

.mainProducto section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px; }
  .mainProducto section h2 {
    text-align: center;
    padding: 10px;
    color: #F96565;
    font-size: 2.5rem; }
  .mainProducto section div img {
    width: 400px;
    height: 400px; }
  .mainProducto section div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px;
    font-size: 2rem; }

footer {
  background-color: #5A83EE;
  color: #EBEBEB;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: none;
  padding: 10px;
  font-size: 2rem; }
  footer div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px; }
    footer div a {
      text-decoration: none;
      color: #EBEBEB;
      font-size: 2.5rem;
      font-weight: 600; }
    footer div .redesSociales {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: row;
      padding: none; }
      footer div .redesSociales a img {
        padding: 10px;
        width: 50px; }
  footer div p {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: none;
    padding: none; }
    footer div p a {
      text-decoration: none;
      color: #EBEBEB; }

@media screen and (max-width: 900px) {
  .personalizados div img {
    width: 300px;
    height: auto;
    margin: 10px; } }

@media screen and (max-width: 768px) {
  .hero h1 {
    font-size: 2rem; }
  .personalizados div img {
    width: 200px;
    height: auto;
    margin: 10px; }
  .galeriaFotos {
    grid-template-columns: repeat(2, 1fr); }
    .galeriaFotos div img {
      height: 200px; }
  .mainProductos div h1 {
    font-size: 2rem; }
  .productos {
    grid-template-columns: repeat(2, 1fr); }
  footer {
    display: flex;
    justify-content: none;
    align-items: center;
    flex-direction: column;
    padding: none;
    font-size: 1.5rem; }
    footer div iframe {
      display: none; } }

@media screen and (max-width: 425px) {
  header div a img {
    width: 100px; }
  .personalizados div img {
    width: 150px;
    height: auto;
    margin: 5px; }
  .galeriaFotos {
    grid-template-columns: repeat(2, 1fr); }
    .galeriaFotos div img {
      height: 150px; }
  .mainProducto h1 {
    font-size: 2rem; }
  .mainProducto section div img {
    height: 200px;
    width: 200px; }
  .productos {
    grid-template-columns: repeat(1, 1fr); }
    .productos div img {
      height: 350px; }
    .productos div p {
      font-size: 1.5rem; } }

@media screen and (max-width: 375px) {
  .personalizados div img {
    width: 150px;
    height: auto;
    margin: 5px; }
  .personalizar {
    font-size: 1.8rem;
    padding: 10px 10px 10px 10px; }
  .galeria h2 {
    font-size: 2rem; }
  .galeria p {
    font-size: 1.8rem; }
  .galeriaFotos {
    grid-template-columns: repeat(1, 1fr); }
    .galeriaFotos div img {
      height: 150px; }
  .productos {
    grid-template-columns: repeat(1, 1fr); }
    .productos div img {
      height: 250px; }
    .productos div p {
      font-size: 1.5rem; }
  .mainPersonalizar section div h2 {
    font-size: 1.8rem; }
  .mainPersonalizar section div h3 {
    font-size: 1.5rem; }
  .mainPersonalizar section div p {
    font-size: 1.5rem; }
  footer div a {
    font-size: 2rem; }
  footer div p a {
    font-size: 2rem; } }

body {
  font-family: 'Questrial', sans-serif; }
