//palet-color
$colors:
#F96565,
#5A83EE,
#EBEBEB,
#000000,
#FFFFFF;



//font
$font-principal: 'Questrial', sans-serif;


%botonRojo{
    font-family:'Questrial', sans-serif;
    font-size: 2rem;
    color: nth($colors, 3);
    background-color: nth($colors, 1);
    border: 2px solid nth($colors, 5);
    border-radius: 10px;
    padding: 10px;
    width: 100%;
}