header{
    div{
        a{
            img{
                width: 120px;
            }
        }
    }

    .navbar-collapse {
    justify-content: flex-end;
    padding-right: 20px;
}

    .nav-link{
    font-size: 3rem;
    color: nth($colors, 1);
    padding: 10px;
}
}
