.mainPersonalizar{
    h1{
    color: nth($colors, 3);
    background-color: nth($colors, 1);
    text-align: center;
    font-size: 2.5rem;
    padding: 10px;
    }
    section{
        @include display(flex,center,none,column,20px);
        div{
            h2{
                font-size: 2.5rem;
                color: nth($colors, 1);
                padding: 10px 5px 10px 5px;
            }
            
            h3{
                justify-content: center;
                font-size: 2rem;
                color:nth($colors, 2); 
                a{
                    text-decoration: none;
                }
            }
            p{
                text-align: justify;
                font-size: 2rem;
            }
        }
    }
}