@media screen and (max-width: 768px) {
//header

header{
    nav{
        ul{
            font-size: 2rem;
            li{
                padding: 20px 20px;
                a{
                    img{
                        width: 20px;
                    }
                }
            }
        }
    }
    div{
        button{
            padding: 2px;
            font-size: 1.5rem;
        }
    }
}
}